.App {
  text-align: center;
}

body{
  margin:0px;
  padding:0px;
}

.title{
  font-size:22px;
  width:100%;
  margin:0px;
  font-family:monospace;
  text-decoration-line:underline;
}

.title h3{
  letter-spacing:5px;
}

.newsContainer{
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.newsContainer .article {
  width:700px;
  border:2px solid rgb(139, 34, 34);
  margin: 75px;
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  cursor:pointer;
  padding:5px;
}

.newsContainer .article img{
  width:600px;
  padding:5px;
}

.newsContainer .article p{
  width:600px;
}